05-su.ka/check/*
.*/facs.txt
*.1
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.dep
.DS_Store
*.fdb_latexmk
*.fls
*.idx
*.ilg
*ind
lexical.*
*.log
manuscripts.*
*.mst
*.orig
*.out
*.odt
*/quick_start.txt
*.run.xml
*.sav
*.swp
*.synctex(busy)
*.synctex.gz
*.tdo
*/_template.txt
titles.txt
*.tmp
*.toc
media/*
translation/edition/*pdf
translation/kkkk.*
translation/publication/*.ind
translation/publication/features*
translation/publication/media/table-of-versions.md
translation/publication/media/table-of-versions.tex
translation/SS-1.17*
translation/susruta-iast.tex
translation/susruta.tex
translation/chapters/translation 6-39.tex
*.txss
*txss
*txss2
*.xdv
*.xpr
*xpr
*.zip
*.glg
*.glstex
translation/kkk.bib
*.zip
01-su.su-1-31/nak_5-333_sutrasthana-1-31.xmlids
translation/incremental_SS_Translation (copy).bib
translation/chapters/lisa.pdf
translation/chapters/lisa.tex
translation/chapters/translation 2-01-old version.tex
translation/kkk.pdf
ityeke-files-not-provisional.txt
ityeke-files-provisional.txt
ityeke-files-vulgate.txt
ityeke-files.txt
01-su.su-1-31/01-su-vulgate-1938-1-31 (old).txt
translation/incremental_SS_Translation_cut.pdf
translation/incremental_SS_Translation_cut.pdf
translation/incremental_SS_Translation_cut.pdf
*~
06-su.ut-39-24-57-kayacikitsa/not aligned.txt
06-su.ut-39-24-57-kayacikitsa/not aligned2.txt
06-su.ut-39-24-57-kayacikitsa/xml/not aligned.xml
06-su.ut-39-24-57-kayacikitsa/xml/not aligned2.xml
/06-su.ut-01-26-salakya/xml
/06-su.ut-27-37-kumara/xml
04-su.ci-1-20/not aligned.md
04-su.ci-21-40/not aligned.md
06-su.ut-39-24-57-kayacikitsa/not aligned3.md
06-su.ut-39-24-57-kayacikitsa/not aligned3.md
06-su.ut-39-24-57-kayacikitsa/not aligned3.md
06-su.ut-39-24-57-kayacikitsa/not aligned3.md
06-su.ut-39-24-57-kayacikitsa/not aligned3.md
06-su.ut-39-24-57-kayacikitsa/not aligned3.md
