05-su.ka/check/*
*.1
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.dep
.DS_Store
*.fdb_latexmk
*.fls
*.idx
*.ilg
*ind
lexical.*
*.log
manuscripts.*
*.mst
*.out
*.odt
*/quick_start.txt
*.run.xml
*.sav
*.synctex(busy)
*.synctex.gz
*.tdo
*/_template.txt
titles.txt
*.tmp
*.toc
translation/edition/*pdf
translation/kkkk.*
translation/publication/*.ind
translation/publication/features*
translation/publication/media/table-of-versions.md
translation/publication/media/table-of-versions.tex
translation/SS-1.17*
translation/susruta-iast.tex
translation/susruta.tex
*.txss
*txss
*txss2
*.xdv
*.xpr
*.zip
