*.log
translation/incremental_SS_Translation.aux
translation/incremental_SS_Translation.bbl
translation/incremental_SS_Translation.bcf
translation/incremental_SS_Translation.bib.bak
translation/incremental_SS_Translation.blg
translation/incremental_SS_Translation.dep
translation/incremental_SS_Translation.log
translation/incremental_SS_Translation.out
translation/incremental_SS_Translation.bib.sav
translation/incremental_SS_Translation.run.xml
translation/incremental_SS_Translation.synctex.gz
translation/incremental_SS_Translation.synctex(busy)
translation/incremental_SS_Translation.toc 
translation/incremental_SS_Translation.txss
translation/susruta.tex
translation/susruta-iast.tex
translation/lexical.*
translation/manuscripts.*
translation/*aux
*.xpr
*/_template.txt
*/quick_start.txt
translation/kkkk.*
*.zip
.DS_Store
05-su.ka/check/*
translation/SS-1.17*
